.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}