header {
  display: flex;
  background: white;
  border-bottom: 10px solid var(--qwik-dark-purple);
  width: 100%;
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

header .logo h3 {
  margin-left: 0.5rem;
}

header ul {
  margin: 0;
  padding: 3px 10px 0 0;
  list-style: none;
  flex: 1;
  text-align: right;
}

header li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

header li a {
  display: inline-block;
  padding: 15px 10px;
  text-decoration: none;
}

header li a:hover {
  text-decoration: underline;
}
